<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lectures</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">School name and logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin_home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin_users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin_payments">Payments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin_lessons">Lessons</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin_lectures">Lectures<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin_holidays">Holidays</a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand" href="/messenger"><img src="/mail.png" width="50px" height="50px"></a>
    <a class="navbar-brand" href="/logout"><img src="/logout.png" width="50px" height="50px"></a>
</nav>
<div class="d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="myform form mx-auto">
        <label class="labelCenter">Add lecture</label>
        <form th:action="@{/save-lecture}" th:object="${newLecture}" method="post">
            <p style="color: red; text-align: center;" th:text="${error}"></p>
            <p style="color: darkolivegreen; text-align: center;" th:text="${news}"></p>
            <div class="form-group">
                <label for="lectureDate1">Date 1</label>
                <input type="datetime-local" th:value="${newLecture.date1}" name="day1" class="form-control"
                       id="lectureDate1" aria-describedby="inputGroupPrepend" required>
            </div>
            <div class="form-group">
                <label for="lectureDate2">Date 2</label>
                <input type="datetime-local" th:value="${newLecture.date2}" name="day2" class="form-control"
                       id="lectureDate2" aria-describedby="inputGroupPrepend" required>
            </div>
            <div class="form-group">
                <label for="lectureDate3">Date 3</label>
                <input type="datetime-local" th:value="${newLecture.date3}" name="day3" class="form-control"
                       id="lectureDate3" aria-describedby="inputGroupPrepend" required>
            </div>
            <div class="form-group">
                <input type="number" th:name="limit" class="form-control" placeholder="People limit"
                       aria-describedby="inputGroupPrepend" required>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-4" style="padding: 0; text-align: left;">
                        <button type="submit" class="btn btn-dark mx-auto">ADD LECTURE</button>
                    </div>
                </div>
            </div>
        </form>
        <label class="labelCenter">Planned lectures</label>
        <table style="width: 100%;" class="table" id="example">
            <thead class="thead-light">
            <tr>
                <th scope="col">1 day</th>
                <th scope="col">2 day</th>
                <th scope="col">3 day</th>
                <th scope="col">People limit</th>
                <th scope="col">Available seats</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tr th:each="lecture: ${lectureList}">
                <td th:text="${#dates.format(lecture.getDate1(), 'yyyy-MM-dd-HH:mm')}"></td>
                <td th:text="${#dates.format(lecture.getDate2(), 'yyyy-MM-dd-HH:mm')}"></td>
                <td th:text="${#dates.format(lecture.getDate3(), 'yyyy-MM-dd-HH:mm')}"></td>
                <td th:text="${lecture.getPeopleLimit()}"></td>
                <td th:text="${lecture.getAvailableSeats()}"></td>
                <td>
                    <form th:action="@{/change-lecture}" th:object="${lecture}" method="post">
                        <input type="hidden" name="id" th:value="${lecture.getIdLecture()}"/>
                        <button class="btn btn-dark mx-auto" th:id="${lecture.getIdLecture()}" type="submit">EDIT
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>